<div class="mb-4">
  <h2 class="text-primary">Sign up</h2>
  <div>Already have an account?
    <a routerLink="/signin" class="text-decoration-none fw-medium text-primary d-inline-block">Sign in</a>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Full Name"
      formControlName="fullName"
    />
    <div
      class="text-danger mt-1 small"
      *ngIf="
        hasDisplayableError('fullName') &&
        form.get('fullName')?.hasError('required') &&
        form.get('fullName')?.touched
      "
    >
      Please enter full name
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    <div class="text-danger mt-1 small" *ngIf="hasDisplayableError('email')">
      <div *ngIf="form.get('email')?.hasError('required')">
        Please enter your Email Address
      </div>
      <div *ngIf="form.get('email')?.hasError('email')">
        Please enter a valid Email Address
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
    />
    <div
      class="text-danger mt-1 small"
      *ngIf="form.get('password')?.touched && getFirstError('password')"
    >
      {{ getFirstError("password") }}
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <div
      class="text-danger mt-1 small"
      *ngIf="
        hasDisplayableError('confirmPassword') &&
        form.get('confirmPassword')?.hasError('passwordMismatch') &&
        form.get('confirmPassword')?.touched
      "
    >
      Password doesn't match.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary w-100 rounded-3">
      Register
    </button>
  </div>
</form>
